<table class="table table-striped">
    <tr>
        <td>Hola</td>
        <td>Mundo</td>
    </tr>
    <tr>
        <td>Hola</td>
        <td>Mundo</td>
    </tr>
    <tr>
        <td>Hola</td>
        <td>Mundo</td>
    </tr>
    <tr>
        <td>Hola</td>
        <td>Mundo</td>
    </tr>
    <tr>
        <td>Hola</td>
        <td>Mundo</td>
    </tr>
</table>